[user]
	name = Rakesh Chatrath
	email = rakesh.chatrath@shopify.com
[core]
	commitGraph = true
	excludesfile = ~/.gitignore
[diff]
	algorithm = patience
[gc]
	writeCommitGraph = true
[protocol]
	version = 2
[url "https://github.com/Shopify/"]
	insteadOf = git@github.com:Shopify/
	insteadOf = git@github.com:shopify/
	insteadOf = ssh://git@github.com/Shopify/
	insteadOf = ssh://git@github.com/shopify/
[alias]
    graph = log --graph --decorate --oneline
    opush = push origin head
    ppush = push origin +head
    staging = push origin +head:staging
    co = checkout
    op = opush
	pp = ppush
    st = staging
    rb = !git fetch && git rebase -i origin/master
[credential]
	helper =
	helper = store --file /opt/dev/var/private/git_credential_store
[pull]
	ff = only
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
